.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.max-width {
    max-width: 20rem !important;
}

.text-color {
    color: rgba($color: #242020, $alpha: 1.0);
}