<div class="app">
  <header>
    <section></section>
  </header>

  <input type="checkbox" id="menu" />

  <!--START NAV BAR-->
  <nav class="header-nav" id="navbar-index">
    <label class="custom-label">
      <a  routerLink="/"><fa-icon [icon]="this.iconService.dashboardIcon"></fa-icon><span class="custom-span">Tableau de bord</span></a>
    </label>

    <ul>
      <h2 class="element-inline-block">
        <img
          class="avatar rounded-circle"
          src="https://cdn.pixabay.com/photo/2017/11/03/18/26/man-2915187_960_720.jpg"
        />
        Nesly PETIT BERT
      </h2>
    </ul>

    <label for="menu" class="menu-bar">
      <i class="fa fa-bars"></i>
    </label>
    <hr/>
  </nav>
  <!--END NAV BAR-->
  <hr/>

  <!--START SIDE BAR-->
  <div class="side-menu" id="sidebar-index">
    <!-- <hr /> -->
    <a routerLink="/films"><fa-icon [icon]="this.iconService.filmIcon"></fa-icon><span>Films</span></a>
    <a routerLink="/utilisateurs"><fa-icon [icon]="this.iconService.userIcon"></fa-icon><span>Utilisateurs</span></a>
    <!-- <a routerLink="/adresses"><fa-icon [icon]="this.iconService.addressIcon"></fa-icon><span>Adresses</span></a> -->
    <a routerLink="/factures"><fa-icon [icon]="this.iconService.invoiceIcon"></fa-icon><span>Factures</span></a>
    <!-- <a routerLink="/parametres"><fa-icon [icon]="settingsIcon"></fa-icon><span>Réglages</span></a> -->
    <!-- <a href="#"><fa-icon [icon]="this.iconService.settingsIcon"></fa-icon><span>Réglages</span></a> -->

  </div>
  <!--END SIDE BAR-->
  <div id="header-ariane-nav">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb element-float-right">
        <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
        <li class="breadcrumb-item" *ngIf="this.currentRoute && this.currentRoute !== '/'"><a routerLink="{{this.currentRoute}}">{{this.displayRoute + ' / ' + this.pageName | titlecase}}</a></li>
      </ol>
    </nav>
  </div>
  

  <!--STRAT CONTENT-->
  <div class="data">
    <div class="container" style="position: relative;">
      <div class="row" id="router-outlet-style">
        <router-outlet
        (activate)='onActivate($event)'
        (deactivate)='onDeactivate($event)'></router-outlet>
      </div>
    </div>
  </div>
  <!--END SIDE BAR-->

  <!--START FOOTER BAR-->

  <!--END FOOTER BAR-->
</div>
