<div class="app">
  <header>
    <section></section>
  </header>

  <input type="checkbox" id="menu" />

  <!--START NAV BAR-->
  <nav class="header-nav" id="navbar-index" #sidenav *ngIf="!this.router.url.includes('/connexion')">
    <label class="custom-label">
      <a  routerLink="/"><fa-icon [icon]="this.iconService.dashboardIcon"></fa-icon><span class="custom-span">Tableau de bord</span></a>
    </label>
  
    <div class="dropdown" style="float:right;" *ngIf="this.currentUserData.id">
      <button class="dropbtn">{{ this.currentUserData.firstName }} {{ this.currentUserData.lastName }}</button>
      <div class="dropdown-content">
      <a routerLink="/informations-du-compte">Profile</a>
      <a (click)="logout()">Déconnexion</a>
      </div>
    </div>

    <label for="menu" class="menu-bar">
      <i class="fa fa-bars"></i>
    </label>
    <hr/>
  </nav>
  <!--END NAV BAR-->
  <hr/>

  <!--START SIDE BAR-->
  <div class="side-menu" id="sidebar-index" #sidenav *ngIf="!this.router.url.includes('/connexion')">
    <!-- <hr /> -->
    <a routerLink="/films"><fa-icon [icon]="this.iconService.filmIcon"></fa-icon><span>Films</span></a>
    <a routerLink="/utilisateurs"><fa-icon [icon]="this.iconService.userIcon"></fa-icon><span>Utilisateurs</span></a>
    <!-- <a routerLink="/adresses"><fa-icon [icon]="this.iconService.addressIcon"></fa-icon><span>Adresses</span></a> -->
    <a routerLink="/factures"><fa-icon [icon]="this.iconService.invoiceIcon"></fa-icon><span>Factures</span></a>
    <!-- <a routerLink="/parametres"><fa-icon [icon]="settingsIcon"></fa-icon><span>Réglages</span></a> -->
    <!-- <a href="#"><fa-icon [icon]="this.iconService.settingsIcon"></fa-icon><span>Réglages</span></a> -->
    <a (click)="logout()" class="custom-cursor"><fa-icon [icon]="this.iconService.userLogout"></fa-icon><span>Déconnexion</span></a>

  </div>
  <!--END SIDE BAR-->
  <div id="header-ariane-nav" #sidenav *ngIf="!this.router.url.includes('/connexion')">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb element-float-right">
        <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
        <!-- <li class="breadcrumb-item" *ngIf="this.currentRoute && this.currentRoute !== '/'"><a routerLink="{{this.currentRoute}}">{{this.displayRoute | titlecase}}</a></li> -->
      </ol>
    </nav>
  </div>
  

  <!--STRAT CONTENT-->
  <div class="data">
    <div class="container" style="position: relative;">
      <div class="row" id="router-outlet-style">
        <router-outlet
        (activate)='onActivate($event)'
        (deactivate)='onDeactivate($event)'></router-outlet>
      </div>
    </div>
  </div>
  <!--END SIDE BAR-->

  <!--START FOOTER BAR-->

  <!--END FOOTER BAR-->
</div>
