<div class="col-md-12" class="center mt-4">
</div>
<div class="col-md-6" class="center mt-4">
    <div class="col-md-12" class="center mt-4">
    </div>
    <div class="card">
        <img src="/assets/logo/MovieCatalog.png" alt="Movie Catalog" class="logo-mc"><h4 class="card-header">Connexion administrateur</h4>
        <div class="card-body">
            <form>
            <!-- <form [formGroup]="signinForm" (ngSubmit)="onSubmit()"> -->
                <div class="form-group">
                    <label for="mc-email" class="form-label mt-4 text-left">Adresse email</label>
                    <input type="email" class="form-control" id="mc-email" aria-describedby="emailHelp" placeholder="Entrez votre adresse email">
                </div>
                <div class="form-group">
                    <label for="mc-password" class="form-label mt-4 text-left">Mot de passe</label>
                    <input type="password" class="form-control" id="mc-password" placeholder="Entrez votre mot de passe">
                </div>
                <div class="col-md-12" class="center mt-4">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>