.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.text-left {
    float: left !important;
}

.logo-mc {
    width: 310px !important;
    height: 50px !important;
    margin: auto !important;
}