/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/superhero/bootswatch";
@import '~ngx-toastr/toastr';

/*Custom scrollbar*/

* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px !important;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 20px;
  border: 1px solid transparent;
}

.custom-array {
  width: 145% !important;
  padding: 10px !important;
  margin-top: 100px !important;
  margin-top: 150px !important;
  word-wrap: break-word !important;
}

.element-float-right {
  float: right !important;
}

.element-inline-block {
  display: inline-block !important;
}

.center {
  text-align: center;
}

/*Table style*/
body tr:nth-child(even){
  background-color: rgba(0, 0, 0, 0.1) !important;
}
      
body tr:nth-child(odd){
  background-color: none !important;
}

/*Bouton add*/

.default-add-button {
  float: right !important; 
  background-color: rgba(0, 251, 45, 0.2) !important; 
  transition: all 0.5s !important;
}

.default-add-button > fa-icon {
  color: rgba(0, 251, 45, 1) !important; 
  font-weight: 400 !important;
}

/* Autres */
.padding-top-25 {
  padding-top: 25px;
}

/*icon colors*/
.faCheck {
  color: rgba(0, 251, 45, 1) !important
}

.faUnCheck {
  color: rgba(215, 215, 215, 1) !important
}

.card-title-patched {
  font-size: 20px !important;
}